body {
  background-color: gainsboro;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.rectangle {
  position: relative;
  width: 240px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  top: 25vh;
  left: 40vw;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 50%;
  border-radius: 10px;
  box-sizing: border-box;
}
span {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #ff0006;
  border-radius: 60%;
  padding: 6px;
  color: white;
  font-size: 12px;
}
h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 140px;
}
p {
  position: absolute;
  text-align: center;
  bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.srect {
  background-color: #ff0006;
  color: white;
  position: absolute;
  font-size: 1.2em;
  bottom: -10px;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
  left: 72px;
}
